### Java ###
*.class

# Package Files #
*.war
*.ear

# Build #
classes/*
build/*
jQueryPlugins/
bin/*
src/test/selenium/report/*
.gradle

# Eclipse #
.classpath
.project
.settings

# IntelliJ IDEA #
.idea
*.iml
