<div class="candidate-answer collapsible-element" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="title" data-toggle="collapse" th:attr="data-target=${'#' + #ids.next('panel-candidate-answer')}">
        <a>Candidates Answer:</a>
    </div>

    <div th:id="${#ids.seq('panel-candidate-answer')}" class="panel-candidate-answer collapsible in">
        <th:block th:switch="${currentQuestion.type}">
            <th:block th:case="'Code'">
                <div th:replace="/fragments/paper/inMarking/code"></div>
            </th:block>
            <th:block th:case="'Essay'">
                <div th:replace="/fragments/paper/inMarking/essay"></div>
            </th:block>
            <th:block th:case="'Multiple Choice'">
                <div th:replace="/fragments/paper/inMarking/multipleChoice"></div>
            </th:block>
            <th:block th:case="'Drawing'">
                <div th:replace="/fragments/paper/inMarking/draw"></div>
            </th:block>
        </th:block>
    </div>
</div>