<div xmlns:th="http://www.w3.org/1999/xhtml">
    <h1>Review Exam</h1>
    <b><div th:text="${exam.module.getModuleCode()}"></div></b>
    <div th:text="${'Exam Date: ' + exam.getTestDayModel().getDate()}"></div>
    <div th:text="${'Status: ' + exam.getStatus().toString()}"></div>
    <div th:text="${'Start Time: ' + exam.getTestDayModel().getStartTimeAsLocalTime()}"></div>
    <div th:text="${'End Time: ' + exam.getTestDayModel().getEndTimeAsLocalTime()}"></div>
    <div>Paper: <a th:href="${paperLink}" th:text="${exam.getPaperRef().getReferenceName()}"></a></div>

    <table class="table table-striped js-data-table-default">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Exam Login</th>
                <th>Exam Password</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="reference : ${exam.getAttempts()}">
                <td th:text="${reference.getCandidateName() + ' ' +  reference.getCandidateSurname()}"></td>
                <td th:text="${reference.getStatus()}"></td>
                <td th:text="${reference.getLogin()}"></td>
                <td th:text="${reference.getPassword()}"></td>
            </tr>
        </tbody>
    </table>

    <form role="form" method="post" th:action="${BEGIN_ENDPOINT}" th:if="${EXAM_STATUS.equals(CREATED) == true}">
        <input data-help="EXAM_VIEW_BEGIN_EXAM" class="btn btn-primary" value="Begin Exam" type="submit"/>
        <br/>
    </form>

    <a data-help="EXAM_VIEW_LOGIN_CANDIDATE" class="btn btn-warning" th:if="${EXAM_STATUS.equals(STARTED) == true}" th:href="'/logout?redir=/test-attempt/' + ${exam.getId()} + '/login'">Log In as Candidate</a>
    <br/>
    <form role="form" method="post" th:action="${END_ENDPOINT}" th:if="${EXAM_STATUS.equals(STARTED) == true}">
        <input data-help="EXAM_VIEW_BEGIN_EXAM"  class="btn btn-danger" value="End Exam" type="submit"/>
        <br/>
    </form>

    <button data-help="EXAM_VIEW_SIMULATE_EXAM" onclick="simulateExam(this)" th:if="${EXAM_STATUS.equals(CREATED) == true}" th:attr="data-exam-id=${exam.getId()}" class="btn btn-warning">Simulate Random Exam</button>
    <br/>
    <a data-help="EXAM_VIEW_MARK_EXAM" class="btn btn-primary" th:href="'/exam/mark/' + ${exam.getId()}" th:if="${EXAM_STATUS.equals(FINISHED) == true or EXAM_STATUS.equals(MARKING_ONGOING)}">Mark Exam</a>
</div>