<th:block th:if="${currentQuestion.getMarkingGuide() != null}">
    <div class="correct-answer-section collapsible-element" xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="title collapsed" data-toggle="collapse" th:attr="data-target=${'#' + #ids.next('panel-answer-section')}">
            <a>Marking Guide:</a>
        </div>

        <div class="panel-answer-section collapsible collapse" th:id="${#ids.seq('panel-answer-section')}">
            <div th:utext="${currentQuestion.getMarkingGuide()}" style="resize: none;"></div>
        </div>
    </div>
</th:block>