<div class="col-md-3" id="accordionPanel" xmlns:th="http://www.thymeleaf.org">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default slickControl">
            <div id="firstPanelHeading" class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse"
                       data-parent="#accordion"
                       th:text="${paper.referenceName}"></a>
                </h4>
            </div>
        </div>
        <div th:each="sectionKey : ${paper.sections.keySet()}">
            <div th:attr="data-questions-in-section=${paper.sections.get(sectionKey).getQuestions().keySet().size()}, data-section-no=${sectionKey}" class="panel panel-default slickControl">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse"
                           data-parent="#accordion"
                           th:href="${'#' + paper.sections.get(sectionKey).getId()}"
                           th:text="${sectionKey + ': ' + paper.sections.get(sectionKey).getReferenceName()}">
                        </a>
                    </h4>
                    <div class="heading-decorator-holder">
                        <img class="heading-panel-decorator" src="/images/question_plus.svg"/>
                    </div>
                </div>
                <div class="panel-collapse collapse questionList"
                     th:id="${paper.sections.get(sectionKey).getId()}"
                     th:attr="sectionQuestionsToAnswer=${paper.sections.get(sectionKey).noOfQuestionsToAnswer}"
                >
                    <th:block th:each="questionKey : ${paper.sections.get(sectionKey).questions.keySet()}">
                        <div class="collapse-decorator-holder">
                            <a th:attr="data-question-no=${questionKey}" th:id="${sectionKey}">
                                <div class="panel-body"
                                     th:text="'Question ' + ${sectionKey} + '.' + ${questionKey}">
                                </div>
                                <div th:classappend="${examMarking} ? 'css-do-not-use-arrow' : ''" class="collapse-panel-decorator">
                                    <span class="pie" th:id="${'peity-for-section-' + sectionKey + '-question-' + questionKey}" th:if="${examMarking}"></span>
                                </div>
                            </a>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
        <th:block th:if="${answerable}">
            <div id="submitAllBtn" class="submit-all-btn">Submit &amp; Complete</div>
        </th:block>
        <th:block th:if="${inMarking}">
            <th:block th:unless="${examMarking}">
                <div data-help="MARKING_ATTEMPT_FINNISH" id="submitAllBtn" class="submit-all-btn">Submit &amp; Complete</div>
                <th:block th:if="${inMarking}">
                    <div data-help="MARKING_ATTEMPT_UNLOCK" id="unlockBtn" class="submit-all-btn">Unlock &amp; Leave</div>
                </th:block>
            </th:block>
            <th:block th:if="${examMarking}">
                <div data-help="MARKING_EXAM_FINNISH" th:attr="data-exam-id=${examId}" id="submitAllBtn" class="submit-all-btn">Finnish Marking</div>
                <div data-help="MARKING_EXAM_UNLOCK" th:attr="data-exam-id=${examId}" id="unlockBtn" class="submit-all-btn">Unlock &amp; Leave</div>
            </th:block>
        </th:block>
    </div>
</div>