<div class="setupWrapper" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1>Setup Exam</h1>
    <form id="setupExam" role="form" method="post"
          th:action="${formBody.getENDPOINT()}"
          th:object="${formBody}"
    >
        <div>
            <label class="formLabel" th:for="${#ids.next('formBody.paperId')}">Exam Paper:</label><br/>
            <select onchange="updateTimeAllowed(getSelectedPaperTimeAllowed())" id="pickPaperSelect"
                    class="form-control formItem" th:field="${formBody.paperId}">
                <option th:each="paperRef : ${paperReferences}"
                        th:value="${paperRef.id}"
                        th:text="${paperRef.referenceName}"
                        th:attr="data-time-allowed=${paperRef.timeAllowed}">
                </option>
            </select>
        </div>

        <div>
            <label class="formLabel" th:for="${#ids.next('formBody.paperId')}">For Module:</label><br/>
            <select class="form-control formItem" th:field="${formBody.moduleId}">
                <option th:each="module : ${modules}"
                        th:value="${module.getId()}"
                        th:text="${module.getReferenceName()}">
                </option>
            </select>
        </div>

        <div>
            <label class="formLabel" th:for="${#ids.next('formBody.day.date')}">Date: </label><br/>
            <input type="text" id="datepicker" format="dd/mm/yyyy" class="form-control formItem" th:field="${formBody.day.date}"/>
            <p th:if="${daydateError != null}" th:class="text-error" th:text="${daydateError}"></p>
        </div>

        <div>
            <label class="formLabel" th:for="${#ids.next('formBody.day.date')}">Start Time: </label><br/>
            <input type="time" class="form-control formItem" th:field="${formBody.day.startTime}"/>
            <p th:if="${daydateError != null}" th:class="text-error" th:text="${daydateError}"></p>
        </div>

        <div>
            <label class="formLabel" th:for="${#ids.next('formBody.day.location')}">Location: </label><br/>
            <input type="text" class="form-control formItem" th:field="${formBody.day.location}"/>
            <p th:if="${daylocationError != null}" th:class="text-error" th:text="${daylocationError}"></p>
        </div>

        <label class="formLabel" th:for="${#ids.next('formBody.timeAllowed')}">Time Allowed:</label><br/>
        <input id="timeAllowedSelect" class="form-control formItem" type="number" th:field="${formBody.timeAllowed}"
               min="10" max="1000" step="10"/>
        <br/>
        <div>
            <button th:classappend="${disableNotAdmin}? disabled : btn" type="submit" class="btn btn-success formItem">
                CREATE TEST
            </button>
        </div>
    </form>
</div>