<div id="testNavigationBar">
    <ul id="viewTestsTabs">
        <li>
            <a href="#" data-toggle="tab" data-bind="ongoingTests">Ongoing Tests</a>
        </li>
        <li>
            <a href="#" data-toggle="tab" data-bind="unmarkedTests">Unmarked Tests</a>
        </li>
        <li>
            <a href="#" data-toggle="tab" data-bind="markingOngoing">Marking in Progress</a>
        </li>
        <li>
            <a href="#" data-toggle="tab" data-bind="markedTests">Marked Tests</a>
        </li>
    </ul>
</div>
<div id="testsTableContent"></div>