<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/layout">
<head th:fragment="head">
    <title>Help</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="dashboard.css" th:href="@{~/css/dashboard.css}"/>
</head>
<body>
<div layout:fragment="content" class="contentWrapper container">
    <div class="dashboardWindow" id="dashboardWindow">
        <div id="limit">
            <div id="loadedContent" class="minimum-height padded">
                <h1>Setup Exam</h1>
                <dl class="dl-horizontal">
                    <dt><b>Paper:</b><a class="anchorjs-link " href="#setup-exam-exam-paper" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a></dt>
                    <dd th:text="${SETUP_EXAM_PAPER}"></dd>
                    <dt><b>For Module:</b><a class="anchorjs-link " href="#setup-exam-for-module" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a></dt>
                    <dd th:text="${SETUP_EXAM_MODULE}"></dd>
                    <dt><b>Date:</b><a class="anchorjs-link " href="#setup-exam-date" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a></dt>
                    <dd th:text="${SETUP_EXAM_DATE}"></dd>
                    <dt><b>Start Time:</b><a class="anchorjs-link " href="#setup-start-time" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a></dt>
                    <dd th:text="${SETUP_EXAM_START_TIME}"></dd>
                    <dt><b>Location:</b><a class="anchorjs-link " href="#setup-location" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a></dt>
                    <dd th:text="${SETUP_EXAM_LOCATION}"></dd>
                    <dt><b>Time allowed:</b><a class="anchorjs-link " href="#setup-time-allowed" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a></dt>
                    <dd th:text="${SETUP_EXAM_TIME_ALLOWED}"></dd>
                </dl>
                <h1>Create Question</h1>
                <dl class="dl-horizontal">
                    <dt><b>Programming Language:</b><a class="anchorjs-link " href="#create-question-language" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a></dt>
                    <dd th:text="${CREATE_QUESTION_LANGUATE}"></dd>
                    <dt><b>Reference Name:</b><a class="anchorjs-link " href="#create-question-reference-name" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a></dt>
                    <dd th:text="${CREATE_QUESTION_REFERENCE_NAME}"></dd>
                    <dt><b>Max Mark:</b><a class="anchorjs-link " href="#create-question-max-mark" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a></dt>
                    <dd th:text="${CREATE_QUESTION_MAX_MARK}"></dd>
                    <dt><b>Proposed Time Scale:</b><a class="anchorjs-link " href="#create-question-proposed-time-scale" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a></dt>
                    <dd th:text="${CREATE_QUESTION_PROPOSED_TIME_SCALE}"></dd>
                    <dt><b>Type:</b><a class="anchorjs-link " href="#create-question-question-type" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a></dt>
                    <dd>Type of question:
                        <ul>
                            <li th:text="${'Code:' + CREATE_QUESTION_TYPE_CODE}"></li>
                            <li th:text="${'Essay:' + CREATE_QUESTION_TYPE_ESSAY}"></li>
                            <li th:text="${'Multiple Choice:' + CREATE_QUESTION_MULTIPLE_CHOICE}"></li>
                            <li th:text="${'Drawing:' + CREATE_QUESTION_DRAWING}"></li>
                            <li th:text="${'Expression:' + CREATE_QUESTION_EXPRESISON}"></li>
                        </ul>
                    </dd>
                    <dt><b>Question Text:</b><a class="anchorjs-link " href="#create-question-text" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a></dt>
                    <dd th:text="${CREATE_QUESTION_QUESTION_TEXT}"></dd>
                    <dt><b>Marking Guide:</b><a class="anchorjs-link " href="#create-question-text" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a></dt>
                    <dd th:text="${CREATE_QUESTION_MARKING_GUIDE}"></dd>
                </dl>
                <h1>Create Section</h1>
                <dl class="dl-horizontal">
                    <dt><b>Reference Name:</b><a class="anchorjs-link " href="#create-section-reference-name" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a></dt>
                    <dd th:text="${CREATE_SECTION_REFERENCE_NAME}"></dd>
                    <dt><b>No. of Questions to Answer:</b><a class="anchorjs-link " href="#create-section-number-of-questions" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a></dt>
                    <dd th:text="${CREATE_SECTION_NO_OF_QUESTIONS}"></dd>
                    <dt><b>Proposed Time to Complete:</b><a class="anchorjs-link " href="#create-section-proposed-time-scale" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a></dt>
                    <dd th:text="${CREATE_SECTION_TIME_TO_COMPLETE}"></dd>
                    <dt><b>Instructions Text:</b><a class="anchorjs-link " href="#create-section-instructions-text" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a></dt>
                    <dd th:text="${CREATE_SECTION_INSTRUCTIONS_TEXT}"></dd>
                    <dt><b>Section Questions:</b><a class="anchorjs-link " href="#create-section-questions" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a></dt>
                    <dd th:text="${CREATE_SECTION_SECTION_QUESTIONS}"></dd>
                </dl>
                <h1>Create Paper</h1>
                <dl class="dl-horizontal">
                    <dt><b>Reference Name:</b><a class="anchorjs-link " href="#create-paper-reference-name" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a></dt>
                    <dd th:text="${CREATE_PAPER_REFERENCE_NAME}"></dd>
                    <dt><b>Proposed Time to Complete:</b><a class="anchorjs-link " href="#create-paper-proposed-time-scale" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a></dt>
                    <dd th:text="${CREATE_PAPER_TIME_TO_COMPLETE}"></dd>
                    <dt><b>Instructions Text:</b><a class="anchorjs-link " href="#create-paper-instructions-text" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a></dt>
                    <dd th:text="${CREATE_PAPER__INSTRUCTIONS_TEXT}"></dd>
                    <dt><b>Section Questions:</b><a class="anchorjs-link " href="#create-paper-sections" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a></dt>
                    <dd th:text="${CREATE_PAPER_SECTION_QUESTIONS}"></dd>
                </dl>
            </div>
        </div>
    </div>
</div>
</body>
</html>