<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/layout">
<head th:fragment="head">
    <title>Edit Question</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link th:href="@{/webjars/google-code-prettify/1.0.4/loader/src/prettify.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>

    <!-- Include Editor style. -->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/css/froala_editor.min.css' rel='stylesheet'
          type='text/css'/>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/css/froala_style.min.css' rel='stylesheet'
          type='text/css'/>

    <!-- Include Editor plugins CSS style. -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/css/plugins/char_counter.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/css/plugins/code_view.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/css/plugins/colors.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/css/plugins/fullscreen.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/css/plugins/image.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/css/plugins/image_manager.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/css/plugins/line_breaker.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/css/plugins/quick_insert.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/css/plugins/special_characters.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/css/plugins/table.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/css/plugins/video.min.css"/>

    <!-- Include Code Mirror CSS. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css"/>

    <link th:href="@{/css/editor/editor.css}" rel="stylesheet"/>
</head>
<body>

<th:block layout:fragment="headerText">

</th:block>

<th:block layout:fragment="upper-right-header-content">

</th:block>

<th:block layout:fragment="rightText">

</th:block>

<div layout:fragment="content" id="content" class="contentWrapper container">
    <div class="col-md-12 style-main-content">
        <form class="js-ajax-form" role="form" method="post"
              th:action="${ENDPOINT}"
              th:object="${formObject}"
              th:attr="data-update-endpoint=${UPDATE_ENDPOINT}"
              xmlns:th="http://www.w3.org/1999/xhtml">

            <input class="js-hook-update-text" type="hidden" th:field="*{text}"/>
            <input class="form-control" type="hidden" th:field="*{versionNo}"/>
            <input class="js-hook-update-marking-guide" type="hidden" th:field="*{markingGuide}"/>

            <div id="form-group-id" class="form-group js-hook-form-status-id">
                <label class="form-control-label" for="id">Id:</label>
                <input class="form-control" type="text" readonly="false" th:field="*{id}"/>
                <div class="js-hook-error-msg" id="error-id"></div>
            </div>

            <div id="form-group-language" class="form-group js-hook-form-status">
                <label class="form-control-label" for="language">Language:</label>
                <input class="form-control" type="text" th:field="*{language}" th:value="*{language}"/>
                <div class="js-hook-error-msg" id="error-language"></div>
            </div>

            <div id="form-group-referenceName" class="form-group js-hook-form-status-referenceName">
                <label class="form-control-label" for="referenceName">Reference Name: </label>
                <input class="form-control" type="text" th:field="*{referenceName}" th:value="*{referenceName}"/>
                <div class="js-hook-error-msg" id="error-referenceName"></div>
            </div>

            <div id="form-group-difficulty" class="form-group js-hook-form-status-difficulty">
                <label class="form-control-label" for="difficulty">Max Mark: </label>
                <input class="form-control" min="0" max="100" type="number" th:field="*{difficulty}" th:value="*{difficulty}"/>
                <div class="js-hook-error-msg" id="error-difficulty"></div>
            </div>

            <div id="form-group-timeScale" class="form-group js-hook-form-status-timeScale">
                <label class="form-control-label" for="timeScale">Proposed Time Scale: </label>
                <input class="form-control" min="0" type="number" th:field="*{timeScale}" th:value="*{timeScale}"/>
                <div class="js-hook-error-msg" id="error-timeScale"></div>
            </div>

            <div id="form-group-type" class="form-group js-hook-form-status-type">
                <label class="form-control-label" for="type">Type</label>
                <p>Type:
                    <select class="form-control formItem js-change-type-hook" th:field="*{type}" >
                        <option th:attr="selected=*{type == 'Code'}" th:value="Code" th:text="Code"></option>
                        <option th:attr="selected=*{type == 'Essay'}" th:value="Essay" th:text="Essay"></option>
                        <option th:attr="selected=*{type == 'Multiple Choice'}" th:value="'Multiple Choice'" th:text="'Multiple Choice'"></option>
                        <option th:attr="selected=*{type == 'Drawing'}" th:value="Drawing" th:text="Drawing"></option>
                    </select></p><br/>
                <div class="js-hook-error-msg" id="error-type" ></div>
            </div>

            <div id="form-group-correctAnswer" class="form-group hidden js-hook-form-status-correctAnswer js-answer-builder">
                <label class="form-control-label" for="correctAnswer">Auto Marking Wizard</label>
                <input class="form-control" type="hidden" th:field="*{correctAnswer}" th:value="*{correctAnswer}"/>
                <div class="js-insert-auto-marking-wizard"></div>
                <div class="js-hook-error-msg"  id="error-correctAnswer" ></div>
            </div>

            <div id="form-group-text" class="form-group js-hook-form-status-text">
                <label class="form-control-label" for="froala-for-question-text">Question Text</label>
                <textarea id="froala-for-question-text" class="js-hook-froala" data-paste-to="js-hook-update-text"></textarea><br/>
                <div class="js-hook-error-msg" id="error-text"></div>
            </div>

            <div id="form-group-markingGuide" class="form-group js-hook-form-status-markingGuide">
                <label class="form-control-label" for="froala-for-marking-guide">Marking Guide</label>
                <br/>
                <textarea id="froala-for-marking-guide" class="js-hook-froala" data-paste-to="js-hook-update-marking-guide"></textarea><br/>
                <div class="js-hook-error-msg" id="error-markingGuide" ></div>
            </div>
            <input type="submit" class="btn btn-success js-hide-when-updating" th:value="'Create Question'"/>
        </form>
        <button class="btn btn-success hidden js-create-new-version">Create new version</button>
    </div>
</div>


<th:block layout:fragment="script">
    <script th:src="@{~/js/editor/editQuestion.js}"></script>
    <script type='text/javascript'
            src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/js/froala_editor.min.js'></script>

    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script th:src="@{/webjars/google-code-prettify/1.0.4/src/prettify.js}"></script>
    <script th:src="@{/webjars/google-code-prettify/1.0.4/src/lang-sql.js}"></script>
    <script th:src="@{/webjars/google-code-prettify/1.0.4/src/run_prettify.js}"></script>

    <!-- Include the plugins JS files. -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/js/plugins/align.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/js/plugins/char_counter.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/js/plugins/code_view.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/js/plugins/colors.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/js/plugins/entities.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/js/plugins/font_family.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/js/plugins/font_size.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/js/plugins/fullscreen.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/js/plugins/image.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/js/plugins/image_manager.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/js/plugins/inline_style.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/js/plugins/line_breaker.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/js/plugins/link.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/js/plugins/lists.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/js/plugins/paragraph_format.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/js/plugins/paragraph_style.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/js/plugins/quick_insert.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/js/plugins/quote.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/js/plugins/save.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/js/plugins/special_characters.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/js/plugins/table.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.4.2/js/plugins/url.min.js"></script>

    <!-- Include Code Mirror JS. -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>

</th:block>
</body>
</html>