<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/layout">
<head th:fragment="head">
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="dashboard.css" th:href="@{~/css/dashboard.css}"/>
    <th:block th:replace="/fragments/components/thumbnailLinkRow::style" />
</head>
<body>
<div layout:fragment="content" class="contentWrapper container">
    <div class="dashboardWindow" id="dashboardWindow">
        <div id="limit">
            <div id="loadedContent" class="minimum-height padded">
                <h1 th:text="${title}"></h1>
                <th:block th:each="columns : ${thumbnailLinkRows}">
                    <th:block th:replace="/fragments/components/thumbnailLinkRow::content(${columns})" />
                </th:block>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <th:block th:replace="/fragments/components/thumbnailLinkRow::script" />
</th:block>

</body>
</html>