<th:block th:if="${noNavigation} != true" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-default navbar-fixed-top blueNavigation">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="nav-setup-exam" th:classappend="${dashboardContent} == 'generateTest' ? active : ''">
                        <a href="/dashboard/generate-test"><span class="tabText">Setup an Exam</span></a>
                    </li>
                    <li id="nav-browse" th:classappend="${dashboardContent} == 'browse' ? active : ''">
                        <a href="/dashboard/browse"><span class="tabText">Browse</span></a>
                    </li>
                    <li id="nav-edit" th:classappend="${dashboardContent} == 'edit' ? active : ''">
                        <a href="/dashboard/create"><span class="tabText">Create</span></a>
                    </li>
                    <li id="nav-help" th:classappend="${dashboardContent} == 'help' ? active : ''">
                        <a href="/dashboard/help"><span class="tabText">Help</span></a>
                    </li>
                    <li id="nav-settings" th:classappend="${dashboardContent} == 'settings' ? active : ''">
                        <a href="/dashboard/settings"><span class="tabText">Settings</span></a>
                    </li>
                    <li>
                        <a id="logOut" href="/logout">
                            <th:block th:if="${userName} != null">
                                <span class="tabText" th:text="${'Log Out ' + userName}">Log out</span>
                            </th:block>

                            <th:block th:unless="${userName} != null">
                                <span class="tabText" th:text="${' Log Out'}">Log out</span>
                            </th:block>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
